.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f9;
}

.login-card {
  background: white;
  padding: 40px;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.logo {
  height: 60px;
  background: #ddd;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #2f3e46;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #354f52;
}